.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: url('/bg-gravity.png');

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.vertical-flex {
  display: flex;
  flex-direction: column;
}

.table-base {
  width: 70vw !important;
}

.table-base .inner {
  white-space: nowrap;
  overflow: hidden;
  /* background: #fc0; */
  padding: 5px;
  text-overflow: ellipsis;
  max-width: 200px
}
.table-base .inner div { cursor: pointer; }
.table-base .inner input {
  color: black;
  background: none;
  border: none;
  font-size: 14px;
}

.main-h {
  color: white;
  position: absolute;
  top: 25px;
}
